/* import font aswesome icons and google font */
@import url(https://use.fontawesome.com/releases/v6.0.0/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Montserrat", sans-serif;
}

/* sidebar stuff */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }