<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>James Eager's Portfolio</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="James Eager Project Portfolio">
<meta name="author" content="James Eager">
<meta property="og:title" content="James Eager Portfolio">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
<meta property="og:description" content="James Eager Project Portfolio">
<meta property="og:image" content="image.png">
<link rel="stylesheet" href="./css/style.css">
<style>
</style>
<script src=""></script>

<body>
    <div id="sidebar">
        <a href="/work" class = "sidebar-item">Work</a>
        <a href="/about" class = "sidebar-item">About</a>
        <a href="/contact" class = "sidebar-item">Contact</a>
    </div>
    <div id="content">

    </div>
  </body>
</html>